$colorGreen: rgb(95, 197, 86);
$buttonMargin: 15px 5px 15px 5px;
$buttonPadding: 5px 12px 5px 12px;
$borderRadius: 25px;
$titleFontSize: 20px;
$titleFontSizeTablet: 30px;
$titleFontSizeDesktop: 40px;
$titleFontWeight: 700;
